body {
    height: 100%;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    width: 100%;
    height: 290px;
    justify-content: center;
    align-items: end;
}

.immg {
    
}

.left {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
}

.right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.right img {
    float: right;
    margin-right: 15px;
}

section {
    position: relative;
    text-align: center;
}

.search input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}

.search {
    box-sizing: border-box;
    width: 560px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.17);
    z-index: 1;
    opacity: 1; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.dop {

    top: 380px;
    bottom: 430px;
    left: 670px;
}

.key {

    top: 380px;
    bottom: 430px;
    left: 1110px;
    cursor: pointer;
}

.key:hover+.tooltip {
    opacity: 1;
}

.mike:hover+.tooltip {
    opacity: 1;
}

.mike {
    top: 375px;
    bottom: 430px;
    left: 1160px;
    cursor: pointer;
}

.searcher {

    left: 810px;
    top: 450px;
    height: 34px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.049);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.tooltip {
    opacity: 0;
    color: white;
    font-size: 12px;
}

.tooltip-mike {

    top: 308px;
    left: 280px;
    background-color: black;
    display: inline-block;
    padding: 8px;
}

.tooltip-key {

    top: 340px;
    left: 235px;
    background-color: black;
    display: inline-block;
    padding: 8px;
}

.feel {
    left: 920px;
    top: 450px;
    height: 34px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.049);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.052);
    width: 100%;
    display: flex;
    color: rgba(0, 0, 0, 0.644);
}

.kr {
    font-size: 15px;
    padding-left: 27px;
    padding-bottom: 12px;
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: solid 1px rgba(0, 0, 0, 0.071);
    border-bottom: solid 1px rgba(0, 0, 0, 0.071);
}

.bottom p {
    display: inline;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 33px;
    float: left;
    color: rgba(0, 0, 0, 0.644);
}

.bottomr {
}

#inp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.dop_class {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.key_class {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
}

.mike_class {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.dop_ {
    background: url('./assets/dop.png') no-repeat center;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.class_ {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
    height: 44px;
}

.contaier {
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}